@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, rgba(30,29,31,1) 0%, #424874 100%);
    font-family: 'Poppins', sans-serif;
}
/*box*/
#box{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 460px;
    max-width: 390px;
    border: 1px solid #F4EEFF;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #F4EEFF;
}
/*card*/
.card{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}
.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-face-back{
    transform: rotateY(180deg);
}
.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}
/*switch*/

 .switch_container {
    display: grid;
    position: relative;
     width: 100%;

}
 .switch_container .checkbox {
    opacity: 0;
    position: absolute;
    padding-block: 2em;
     border: none;
}
 .switch_container .checkbox:focus-visible {
    outline: unset;
}
 .switch_container .checkbox:focus-visible ~ .switch,  .switch_container .checkbox:focus ~ .switch {
    outline: 1px solid white;
}
 .switch_container .checkbox:checked ~ .switch .login {
    opacity: 0;
}
 .switch_container .checkbox:checked ~ .switch .circle {
    left: 0;
    right: calc(100% - 2em);
}
 .switch_container .checkbox:not(:checked) ~ .switch .register {
    opacity: 0;
}
 .switch_container .checkbox:not(:checked) ~ .switch .circle {
    left: calc(100% - 2em);
    right: 0;
}
 .switch_container .switch {
     align-items: center;
     border-radius: 7px;
     border: 2px solid transparent;
     cursor: pointer;
     display: flex;
     height: 28px;
     overflow: hidden;
     padding: 0 7px;
     position: relative;
     user-select: none;
     border: 1px solid #fff;
     width: 100%;
}
 .switch_container .switch:focus {
    outline: 1px red;
}
 .switch_container .switch .circle {
    height: 2em;
    padding: 8px;
    position: absolute;
    transition: all 400ms linear;
    width: 2em;
}
 .switch_container .switch .circle .circle-inner {
    background-color: #DCD6F7;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
    outline: 1px solid #40456f;
}
 .switch_container .switch .login,  .switch_container .switch .register {
    text-transform: uppercase;
    position: absolute;
    opacity: 1;
    transition: opacity 400ms linear;
}
.switch_container .switch .login{
    color: #424874;
}
.switch_container .switch .register{
    color: #424874;
}
 .switch_container .switch .register {
    left: calc(2em);
}
 /*login*/
.input-container {
    display: flex;
    position: relative;
}
.mb{
    margin: 2rem 0;
}
.icon-wrapper{
    background: #424874;
    max-width: 34px;
    width: 100%;
    height: 34px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
}
.icon-wrapper i{
    font-size: 20px;
    padding: 7px 0;
    color: #F4EEFF;
}
.input-container label{
    font-size: 11px;
    padding: 4px;
}
.form-input{
    background: #f4eeff;
    border: 1px solid #424874;
    width: 100%;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 0px 5px 5px 0px;
    height: 34px;
}
.check-password{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
}
.input-container label{
    cursor: pointer;
}
.remember {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #808080;
    cursor: pointer;
}
.remember:checked {
    position: relative;
    background: none;
}
.remember:checked::after {
    position: absolute;
    top: 0.28rem;
    left: 0.11rem;
    content: "";
    width: 10px;
    height: 3px;
    border: 3px solid #424874;
    border-right: none;
    border-top: none;
    transform: rotate(309deg);
}
.sign-in{
    color : #DCD6F7;
    background: #424874;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    margin: 2em 0;
    text-align: left;
}
.icon-arrow-right{
    position: absolute;
    right: 10px;
    bottom: 30px;
    font-size: 24px;
    color: #bebbde;
}
.text-social-media{
    position: relative;
    border: 1px solid #424874;
    margin-top: 1rem;
}
.text-social-media span{
    font-size: 11px;
    color: #424874;
    position: absolute;
    left: 50%;
    top: -9px;
    transform: translate(-50%, 0);
    background: #f4eeff;
    padding: 0 10px;
}
.social-media{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 202px;
    margin: 3rem auto;
}
.social-media div{
    border: 1px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-align: center;
}
.social-media div:nth-child(1){
    color: #bd081c;
    border-color: #bd081c;
}
.social-media div:nth-child(2){
    color: #1da1f2;
    border-color: #1da1f2;
}
.social-media div:nth-child(3){
    color: #c32aa3;
    border-color: #c32aa3;
}
.social-media div:nth-child(4){
    color: #1877f2;
    border-color: #1877f2;
}
.social-media div:nth-child(5){
    color: #ff0000;
    border-color: #ff0000;
}
.social-media div:nth-child(6){
    color: #4285f4;
    border-color: #4285f4;
}
@media (max-width: 500px) {
    #box{
        padding: 4%;
    }
}
.modal{
    display: none;
    background: #f4eeffeb;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.modal-close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: #424874;
    cursor: pointer;
}
.model-content{
    position: absolute;
    width: 350px;
    height: 290px;
    background: #f4eeff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem;
}
.model-content h3{
    color: #424874;
}
.model-content p{
    font-size: 11px;
    color: #424874;
    margin-bottom: 2rem;
}
.modal .icon-wrapper{
    width: 35px;
}
#text , #TextSignUp{
    color: #c50000;
    font-size: 10px;
    margin: 5px 0;
    height: 15px;
}
.Send{
    color : #DCD6F7;
    background: #424874;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    margin: 3em 0;

}
.card-face-back{
    display: grid;
}
.card-face-back p{
    font-size: 11px;
    color: #40456f;
}